:root {
  --mainBg: mediumpurple;
}

$text-color: black;

body {
  background-color: var(--mainBg);
  color: $text-color;
}

.container {
  padding: 1rem;
  display: flex;
  background: linear-gradient(to top, black, white);
}

#scss-h1 {
  font-size: 70px;
  text-align: center;
}
